<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="/javascripts/tailwind.js"></script>
    <link rel="stylesheet" href="/stylesheets/common.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.css"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <%- include("./modules/favicon.ejs") %>
    <title>PawFound | Acceso</title>
  </head>
  <body class="bg-white font-['Raleway']">
    <header><%- include("./modules/nav.ejs") %></header>
    <main>
      <%- include("./modules/logoSection.ejs") %>
      <section class="w-2/4 mx-auto py-5 mb-24">
        <form action="/petOwners/login" method="post">
          <div class="mb-6">
            <label for="email" class="block mb-2 font-medium text-gray-900"
              >Tu Email</label
            >
            <div class="relative">
              <div
                class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none"
              >
                <svg
                  class="w-4 h-4 text-gray-500"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="currentColor"
                  viewBox="0 0 20 16"
                >
                  <path
                    d="m10.036 8.278 9.258-7.79A1.979 1.979 0 0 0 18 0H2A1.987 1.987 0 0 0 .641.541l9.395 7.737Z"
                  />
                  <path
                    d="M11.241 9.817c-.36.275-.801.425-1.255.427-.428 0-.845-.138-1.187-.395L0 2.6V14a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V2.5l-8.759 7.317Z"
                  />
                </svg>
              </div>
              <input
                name="email"
                type="text"
                id="email"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-mainBlue focus:border-mainBlue block w-full ps-10 p-2.5"
                placeholder="tucorreo@email.com"
              />
            </div>
            <p class="text-red-600 py-2">
              <%= typeof messageEmail != "undefined" ? messageEmail : null %>
            </p>
          </div>

          <div class="mb-6">
            <label for="password" class="block mb-2 font-medium text-gray-900"
              >Contraseña</label
            >
            <input
              name="password"
              type="password"
              id="password"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-mainBlue focus:border-mainBlue block w-full p-2.5"
              placeholder="•••••••••"
            />
          </div>
          <p class="text-red-600 pb-4">
            <%= typeof message != "undefined" ? message: null %>
          </p>
          <div class="flex flex-col md:flex-row gap-2 gap-y-2">
            <button
              type="submit"
              class="text-white bg-mainBlue hover:bg-hoverBlue focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center"
            >
              Enviar
            </button>
            <button
              onclick="window.location.href='/'"
              type="button"
              class="text-white bg-mainBlue hover:bg-hoverBlue focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center"
            >
              Cancelar
            </button>
          </div>
          <p class="py-5 text-black">
            ¿No estás registrado?
            <a
              class="text-mainBlue hover:underline font-medium"
              href="/petOwners/register"
              >Regístrate aquí</a
            >
          </p>
        </form>
      </section>
    </main>
    <%- include("./modules/footer.ejs") %>
    <script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.js"></script>
  </body>
</html>
