<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="/javascripts/tailwind.js"></script>
    <link
      href="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.css"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <%- include("./modules/favicon.ejs") %>
    <title>Perfil de <%= data.pet_name %></title>
  </head>
  <body class="dark:bg-gray-800">
    <header><%- include("./modules/nav.ejs") %></header>
    <main>
      <%- include("./modules/logoSection.ejs") %>
      <section class="mb-24">
        <div
          class="max-w-screen-xl mx-auto px-6 sm:px-4 flex flex-col lg:flex-row gap-y-10 gap-36 justify-center items-center lg:justify-left"
        >
          <article class="w-full sm:w-3/4 lg:w-2/4">
            <img
              class="w-full h-56 sm:h-[300px] object-cover"
              src="/images/pets-img/<%= data.pet_img?data.pet_img:'defaultPet.png' %>"
              alt="Fotito de mascota"
            />
          </article>
          <article
            class="flex flex-col gap-5 w-full sm:w-3/4 lg:w-2/4 flex flex-col justify-between"
          >
            <a
              href="/categories/<%= data.category_id %>"
              class="mb-2 text-xs uppercase text-mainBlue font-extrabold tracking-tight text-gray-900"
            >
              <%= data.category_name %>
            </a>
            <h2 class="mb-2 text-3xl font-bold tracking-tight text-gray-900">
              <%= data.pet_name %>
            </h2>
            <p class="mb-3 leading-relaxed text-pretty text-gray-700">
              <%= data.pet_desc %>
            </p>
            <div class="flex items-center flex-col sm:flex-row gap-2">
              <button
                onclick="window.location.href=`/pets/editPet/<%= data.pet_owner_id %>/<%= data.pet_id %>/<%= data.pet_img?data.pet_img:'null' %>`"
                type="button"
                class="text-white bg-mainBlue hover:bg-hoverBlue focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center"
              >
                Editar Mascota
              </button>
              <button
                onclick="window.location.href='/pets/totalDelete/<%= data.pet_owner_id %>/<%= data.pet_id %>'"
                type="button"
                class="text-white bg-mainBlue hover:bg-hoverBlue focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center"
              >
                Borrar Mascota
              </button>
              <button
                onclick="window.location.href='/pets/logicDelete/<%= data.pet_owner_id %>/<%= data.pet_id %>'"
                type="button"
                class="text-white bg-mainBlue hover:bg-hoverBlue focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center"
              >
                Borrar Mascota Temporalmente
              </button>
            </div>
          </article>
        </div>
      </section>
      <section class="mb-24">
        <div class="max-w-screen-xl mx-auto px-6 sm:px-4">
          <article class="flex flex-col justify-center items-center">
            <h2
              class="text-mainBlue text-center font-bold text-3xl mb-2 txt-1 mb-4"
            >
              ¡Quiero adoptar a <%= data.pet_name %>!
            </h2>
            <p class="mb-8 text-center">
              Para adoptar a esta mascota, ponte en contacto con
              <a
                class="text-mainBlue hover:underline font-medium"
                href="/petOwners/oneOwner/<%= data.pet_owner_id %>"
              >
                <%= data.pet_owner_name %>
              </a>
            </p>
            <p>Teléfono: <%= data.phone_num %></p>
            <p>Dirección: <%= data.address %>.</p>
          </article>
        </div>
      </section>
    </main>
    <%- include("./modules/footer.ejs") %>
    <script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.js"></script>
  </body>
</html>
