<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link
      href="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.css"
      rel="stylesheet"
    />
    <title>Personajes</title>
  </head>
  <body class="dark:bg-gray-800">
    <header><%- include("./modules/nav.ejs") %></header>
    <main>
      <h2 class="text-white text-center text-3xl font-bold py-5">Personajes</h2>
      <section>
        <div class="max-w-screen-xl mx-auto">
          <article
            class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 p-5 gap-10"
          >
            <div
              class="w-full shadow-md shadow-black cursor-pointer bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700"
            >
              <div>
                <img
                  class="rounded-t-lg w-full h-96 object-cover"
                  src="/images/pets-img/<%= data.pet_img?data.pet_img:'defaultPet.png' %>"
                  alt=""
                />
              </div>
              <div class="p-5">
                <h5
                  class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
                >
                  <%= data.pet_name %>
                </h5>
                <a
                  href="/categories/<%= data.category_id %>"
                  class="mb-3 font-normal text-gray-700 dark:text-gray-400"
                >
                  <%= data.category_name %>
                </a>
                <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
                  <%= data.pet_desc %>
                </p>
                <button
                  onclick="window.location.href=`/pets/editPet/<%= data.pet_owner_id %>/<%= data.pet_id %>/<%= data.pet_img?data.pet_img:'null' %>`"
                  type="button"
                  class="text-white bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700"
                >
                  Editar Mascota
                </button>
                <button
                  onclick="window.location.href='/pets/totalDelete/<%= data.pet_owner_id %>/<%= data.pet_id %>'"
                  type="button"
                  class="text-white bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700"
                >
                  Borrar Mascota
                </button>
                <button
                  onclick="window.location.href='/pets/logicDelete/<%= data.pet_owner_id %>/<%= data.pet_id %>'"
                  type="button"
                  class="text-white bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700"
                >
                  Borrar Mascota Temporalmente
                </button>
              </div>
              <div>
                <h2>
                  SI QUIERES ADOPTAR a <%= data.pet_name %> LLAMA A <%=
                  data.phone_num %> En la dirección <%= data.address %>
                </h2>
              </div>
            </div>
          </article>
        </div>
      </section>
      <section>
        <h3>
          OTRAS MASCOTAS EN ADOPCION DE <%= data.pet_owner_name %>
          <a href="/petOwners/oneOwner/<%= data.pet_owner_id %>">Aquí</a>
        </h3>
      </section>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.js"></script>
  </body>
</html>
